$transition-time: 0.3s;
$number-dots: 8;
$color-text-navigation: #fff;
$color-text-navigation-hover: #d69376;
$light-gray: #f1f3f2;
$gray_smoky: #ababab;
$background-color: #000;
$background-color2: #fff;
$background-color3: #f5f7f6;
$background-color4: rgba(196, 196, 196, 0.5);
$background-color5: #111115;
$background-color6: #72828e;
$background-color7: #404950;
$background-color8: rgba(196, 196, 196, 0.8);
$background-color9: rgba(0, 0, 0, 0.7);
$text-color: #fff;
$text-color2: #333b41;
$text-color3: #000;
$text-color4: #fe9013;
$text-color5: #bdbdbd;
$text-color6: #929699;
$highlight-color: #ffee2e;
$frosted-glass-white: rgba(253, 253, 255, 0.52);
$btn-hover-color: #e47209;
$btn-active-color: #4b9200;
$btn-disabled-color: #767474;
$btn-mistake-color: #d31414;
$slider-hover-color: rgba(247, 156, 51, 0.658);

$color-gradiend: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
$background-gradiend-pick-and-feed: linear-gradient(
    315.75deg,
    rgba(254, 210, 144, 0.7) 30.06%,
    #febdab 100.95%,
    rgba(254, 210, 144, 0.7) 106.36%
  ),
  linear-gradient(
    315.75deg,
    rgba(254, 189, 171, 0.74) 30.06%,
    rgba(243, 169, 248, 0.66) 50.74%,
    #e0d8f0 80.49%,
    #eaf7fe 127.9%,
    #eaf7fe 149.54%
  ),
  linear-gradient(
    315.75deg,
    rgba(254, 189, 171, 0.74) 30.06%,
    rgba(243, 169, 248, 0.66) 50.74%,
    #e0d8f0 80.49%,
    #eaf7fe 127.9%,
    #eaf7fe 149.54%
  );
$pink-gradient: linear-gradient(
    315.75deg,
    rgba(254, 189, 171, 0.74) 30.06%,
    rgba(243, 169, 248, 0.66) 50.74%,
    #e0d8f0 80.49%,
    #eaf7fe 127.9%,
    #eaf7fe 149.54%
  ),
  linear-gradient(
    315.75deg,
    rgba(254, 189, 171, 0.74) 30.06%,
    rgba(243, 169, 248, 0.66) 50.74%,
    #e0d8f0 80.49%,
    #eaf7fe 127.9%,
    #eaf7fe 149.54%
  );

@mixin color-text-navigation-active {
  background-image: $color-gradiend;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@mixin header2-style {
  font-weight: 400;
  font-size: 4.8rem;
  line-height: calc(58 / 48 * 100%);
}
@mixin header3-style {
  font-weight: 400;
  font-size: 3.6rem;
  line-height: calc(47 / 36 * 100%);
}

@mixin subtitle {
  font-weight: 400;
  font-size: 2.4rem;
  line-height: calc(29 / 24 * 100%);
}
